---
import { SITE_TITLE } from '../consts';
const today = new Date();
---

<footer>
	<div class="site-name">{SITE_TITLE}</div>
	<div>&copy; {today.getFullYear()} Atty. Renerio de Dios Jr. All Rights Reserved.</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.site-name {
		font-weight: 600;
		margin-bottom: 0.5em;
		font-size: 1.1em;
	}
</style>
